<h3 id="searchStr">Available cars:</h3>


    <p id="SrchView">Enter car make:
    <input
    ng-model="controller.search"
    type="search"
    ng-model-options="{debounce: 1000}"
    ng-change="controller.fetch()"/></p>

    <ul>
       <li ng-repeat="makes in controller.makes track by $index">
            {{makes.name}}
      </li>
    </ul>

    <p id="or"><strong>or</strong></p>

    <div ngController ="DropdownController as controller">
    <h3 id="dropdown">Select a car: <select ng-model="controller.fetchMakes"


                                            ng-options="makes in controller.makes track by i"></select></h3>

    <p id="subSearch"><span><input type="submit" id="subSearch" value="View Details"></span></p>
  </div>


  <!-- ng-change="controller.fetchMakes()" -->
