<h3 id="searchStr">Available cars:</h3>


    <p id="SrchView">Enter car make:
    <input
    ng-model="controller.search"
    type="search"
    ng-model-options="{debounce: 1000}"
    ng-change="controller.fetch()"/></p>

<div id="makesList">
    <ul id="listMakes">
       <li ng-repeat="makes in controller.makes track by $index">
            {{makes.name}}
      </li>
    </ul>
</div>

    <!-- <p id="or"><strong>or</strong></p> -->
    <p id="subSearch"><span><input type="submit" class="btn" id="subSearch" onclick="" value="View Details"></span></p>

    <p id="or"><strong>or</strong></p>

    <div ngController ="SearchController as controller">
    <p id="dropdown">Select a car:
      <select class="form control" ng-model="controller.search" ng-change="controller.findCar()">
<!-- <option selected value="S">Select car</option> -->
     <option value="B">BMW</option>
     <option value="T">Tesla</option>
     <option value="M">Mini</option>
   </select></p>

    <p id="subSearch"><span><input type="submit" id="subSearch" value="View Details"></span></p>
  </div>


  <!-- ng-change="controller.fetchMakes()" -->
