<h2 id="sell">Sell</h2>
<p id = "sellMessage">
    {{controller.message}}
</p>

<form id = "form" class="" action="" method="post">
<div>  <input type="text" placeholder="First Name" value="">
       <input type="text" placeholder="Last Name" value="">
</div>
       <input type="number" placeholder="Phone Number" value="">
       <input type="text" placeholder="Email" value="">
<div>
       <input type="number" placeholder="Year" value="">
       <input type="text" placeholder="Make" value="">
</div>
<div>
       <input type="text" placeholder="Model" value="">
</div>

<div>
       <input id="subBtn" type="submit" ng-click="controller.notify()" value="Submit">
</div>
</form>
